
<div class="back">
<div class="newsletter">
    <h2>STAY UP TO DATE ABOUT OUR LATEST OFFERS</h2>
    <form>
                <input 
                type="email" placeholder="Enter your email address" required>
        <button type="submit">Subscribe to Newsletter</button>
    </form>
</div>
</div>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-column">
            <h2>MBWAY</h2>
            <p>We believe in innovation and excellence, striving to deliver cutting-edge solutions tailored to our clients' needs, with a strong focus.</p>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#"><i class="fa-brands fa-snapchat"></i></a>


            </div>
        </div>

        <div class="footer-column">
            <h4>Company</h4>
            <ul>
                <li><a href="#">About</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Help</h4>
            <ul>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>FAQ</h4>
            <ul>
                <li><a href="#">Accounts</a></li>
                <li><a href="#">Manage Deliveries</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">payments</a></li>

            </ul>
        </div>



        <div class="footer-column">
            <h4>Contact Us</h4>
            <p>Email: mbwayu56&#64;gmail.com</p>
            <p>Phone: 01247866542</p>
            <p>Working Hours: Mon - Fri 9:00 AM - 6:00 PM</p>
            <p>Saturday - Sunday: Closed</p>
            <div class="payment-methods">
                <img src="https://via.placeholder.com/50" alt="Visa">
                <img src="https://via.placeholder.com/50" alt="PayPal">
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>MMA © 2025, All Rights Reserved</p>
    </div>
</footer>